*:focus {
    outline: none;
}
*{
	font-family: Helvetica;
}

body{
	background: #ECECEC;
}
head{
	  background: linear-gradient(#333 0%,#444 100%) 
}
a{
	text-decoration: none;
	color:black;
}

#topright {
	position:absolute;
	width:14%;
	top:10px;
	right:10px;
}

a.tooltip {outline:none; }
a.tooltip strong {line-height:30px;}
a.tooltip:hover {text-decoration:none;} 
a.tooltip span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:60px; margin-left:-160px;
    width:300px; line-height:16px;
}
a.tooltip:hover span{
    display:inline; position:absolute; 
    border:2px solid #FFF;  color:#EEE;
    background:#333 repeat-x 0 0;
}
.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}
    
/*CSS3 extras*/
a.tooltip span
{
    border-radius:2px;        
    box-shadow: 0px 0px 8px 4px #666;
    /*opacity: 0.8;*/
}

#currentuser{
	color:white;
	font-weight: bold;
}

#header{
	color:white;
	background: linear-gradient(#333 0%,#444 100%);
	position:absolute;
	top:0;
	left:0;	
	width:100%;
}
#header h1{

	padding-left:1em;
	display:inline-block;
	width:20%;
	margin-top:.5em;
}
#header h2{
	display:inline-block;
	padding-left:0;
}

#left{
	position:absolute;
	height:100%;
	width:20%;
	top:20%;
}

#useroptions{
	float:left;
	position:absolute;
}


#quickadd,#editform {
    max-width: 500px;
    background: #F7F7F7;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #E4E4E4;
}
#quickadd input[type="text"], #quickadd input[type="number"], #quickadd select, #qamonth,
#editform input[type="text"], #editform input[type="number"], #editform select {
    border: 1px solid #DADADA;
    color: black;
    height: 30px;
    margin-bottom: 2px;
    margin-right: 2px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}

#qamonth{
	width: 20%;
}


#quickadd select, #editform select{
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 20%;
    height: 35px;
    line-height: 25px;
}

#quickadd #type, #quickadd #eventmonth{
	width:70%;
}


#right{
	position:absolute;
	height:100%;
	width:77%;
	right:0px;
	top:20%;

}

#calHead{
	width:100%;

}


table { 
	table-layout: fixed;
	text-align:center;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  width: 640px;
  /* Table reset stuff */
  border-collapse: collapse; border-spacing: 0; 
  border-radius:5px,5px,5px,5px;
}
		
td, th {  
	vertical-align: top;
	text-align:left;
	border: 0 none; height: 30px; 
}
			
th {
  /* Gradient Background */
	background: linear-gradient(#333 0%,#444 100%);
	color: #FFF; font-weight: bold;
	height: 40px;
	text-align:center;
	vertical-align:middle;
}
		
td {
	height:80px;
 background: #FAFAFA; }


/* Zebra Stripe Rows */
		
tr.dingusrow:nth-child(even) td { background:  #ECECEC; } 
tr.dingusrow:nth-child(odd) td { background: #FDFDFD; }


/* Add border-radius to specific cells! */
tr:first-child th:first-child { 
  border-radius: 5px 0px 0 0; 
} 

tr:first-child th:last-child { 
  border-radius: 0 5px 0 0; 
}

#daynames{
	height:50%;
	width:80%;

}

@import url(http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css);

    button, input[type=submit], input[type=button]{
        background: #ECECEC;
        border-radius: 15px;
        padding: 10px 20px;
        font-family: arial;
        font-weight: bold;
        color:#7f7f7f;
        text-decoration: none;
        text-shadow:0px 1px 0px #fff;
        border:1px solid #a7a7a7;
        box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
        -webkit-transition:box-shadow 0.5s;
    }
    button:hover{
        box-shadow: 0px 2px 1px white inset, 0px -2px 20px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    }
    button:active{
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
        background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
    }


#days{
	height:50%;
	width:80%;
	text-align:left;

}

td .Red{
	height:10px;
	border: 2px solid red;
	 padding-top: .5em;
    padding-bottom: .5em;

}

td .Green{
	height:10px;
	border: 2px solid #76EE00;
border-spacing: 10px;

}

td .Blue{
	height:10px;
	border: 2px solid blue;
border-spacing: 10px;


}
td .Cyan{
	height:10px;
	border: 2px solid cyan;
	border-spacing: 10px;


}
td .Orange{
	height:10px;
	border: 2px solid orange;
border-spacing: 10px;

}
td .Purple{height:10px;
	border: 2px solid magenta;
border-spacing: 10px;

}
td .Yellow{
	height:10px;
	border: 2px solid yellow;
border-spacing: 10px;

}




